@import "../constants/constants";
@import "../effects/effects";

.gwipp-btn {
  @include transition-all;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1);
  }

  &:disabled {
    @include disabled-cursor;
  }

  &-icon {
    @extend .gwipp-hover-grow;
  }

  &-action {
    border-radius: $gwipp-btn-action-radius !important;
  }
}
