@import "~node_modules/bootstrap/scss/functions";
@import "~node_modules/bootstrap/scss/variables";
@import "~node_modules/bootstrap/scss/mixins";

@import "../constants/constants";
@import "../constants/functions";
@import "../mixins/mixins";
@import "../effects/colors";
@import "../effects/effects";

@mixin border-thick {
  border-width: $gwipp-border-thick !important;
}

@mixin input-border {
  @include border(gray("400"));
  border-radius: input-prop("border-radius")!important;
}

@mixin input-focus-border {
  border-color: theme("primary") !important;
  border-radius: input-prop("border-radius") !important;

  @include border-thick;
}

@mixin input-base {
  height: input-prop("height") !important;
  padding: 5px 10px 5px 10px !important;
  outline: none !important;
  @include input-border;
}

.gwipp-input {
  @include input-base;

  &:focus {
    @include input-focus-border;
  }

  &:focus-within {
    @include  input-focus-border;
  }

  &-label {
    margin-bottom: 0px !important;
  }

  &-appended {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }

  &-disabled {
    background-color: gray('300');
    @include disabled-cursor
  }

  &:disabled {
    background-color: gray('300');
    @include disabled-cursor;
  }
}
