<gwipp-grid [rows]="rows" [config]="gridConfig" (rowClick)="rowClick($event)">
  <gwipp-grid-columns>
    <ng-template gwippGridHeaderCell cellStyle="text-center">
        Type
    </ng-template>
    <ng-template gwippGridCell propertyKey="name" let-name="value">
      <div class="p-2">
        {{ name }}
      </div>
    </ng-template>
  </gwipp-grid-columns>

  <gwipp-grid-columns>
    <ng-template gwippGridHeaderCell>
      <div class="text-center">
        Color
      </div>
    </ng-template>
    <ng-template gwippGridCell propertyKey="color" let-color="value">
      <div class="p-2">
        {{ color }}
      </div>
    </ng-template>
  </gwipp-grid-columns>

  <gwipp-grid-columns columnStyle="column-shrink">
    <ng-template gwippGridHeaderCell>
      <div class="text-center px-2">
        Small
      </div>
    </ng-template>
    <ng-template gwippGridCell>
      <div class="p-2">
        small
      </div>
    </ng-template>
  </gwipp-grid-columns>

  <ng-template gwippGridFooter>
    <div class="font-italic">
      Grid Footer
    </div>
  </ng-template>
</gwipp-grid>
