<gwipp-portlet>
  <ng-template portlet-title>
    <div class="d-flex flex-row align-items-center p-2 font-weight-bold text-light">
      <div class="flex-fill">
        Blocks
      </div>

      <app-portlet-action-menu portletKey="blocks"></app-portlet-action-menu>
    </div>
  </ng-template>

  <ng-template portlet-detail>
    <gwipp-working-block>
      <ng-template block-detail>
        Working Block
      </ng-template>
    </gwipp-working-block>

    <gwipp-error-block>
      <ng-template block-detail>
        Error Block
      </ng-template>
    </gwipp-error-block>
  </ng-template>
</gwipp-portlet>
