@import "~node_modules/bootstrap/scss/functions";
@import '~node_modules/bootstrap/scss/variables';
@import '~node_modules/bootstrap/scss/mixins';

@import '../constants/constants';
@import '../mixins/mixins';
@import '../effects/effects';

.gwipp-button {
  @include transition-all;

  &:hover {
    transform: scale(1.05);
    @include drop-shadow;
  }

  &:active {
    transform: scale(1);
    box-shadow: none;
  }
}
