<gwipp-portlet>
  <ng-template portlet-title>
    <div class="p-2 font-weight-bold text-light">
      <div class="d-flex flex-row align-items-center">
        <div class="flex-fill">
          Menus
        </div>

        <div>
          <gwipp-action-menu>
            <div drop-menu>
              <ng-template drop-menu-detail>
                <gwipp-menu>

                  <gwipp-menu-item>
                    <ng-template menu-item-detail>
                      <div class="w-200">Share</div>
                    </ng-template>
                  </gwipp-menu-item>

                  <gwipp-menu-item>
                    <ng-template menu-item-detail>
                      <div class="w-200">Remove</div>
                    </ng-template>
                  </gwipp-menu-item>

                </gwipp-menu>
              </ng-template>
            </div>
          </gwipp-action-menu>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template portlet-detail>
    <div class="d-flex flex-column p-3">
      <div class="font-weight-bold">
        Tab Menu:
      </div>

      <div class="mt-2">
        <gwipp-tab-menu>
          <gwipp-tab-item>
            <ng-template tab-item-title>
              Tab 1
            </ng-template>
            <ng-template tab-item-detail>
              Tab 1 Detail
            </ng-template>
          </gwipp-tab-item>

          <gwipp-tab-item>
            <ng-template tab-item-title>
              Tab 2
            </ng-template>
            <ng-template tab-item-detail>
              Tab 2 Detail
            </ng-template>
          </gwipp-tab-item>

          <gwipp-tab-item>
            <ng-template tab-item-title>
              Tab 3
            </ng-template>
            <ng-template tab-item-detail>
              Tab 3 Detail
            </ng-template>
          </gwipp-tab-item>
        </gwipp-tab-menu>
      </div>
    </div>
  </ng-template>
</gwipp-portlet>
