@import "../constants/constants";
@import '../mixins/mixins';

.gwipp-toast {
  position: fixed;
  z-index: $z-toast;
  @include border(gray('300'));
  @include drop-shadow;

  &-bottom-right {
    bottom: 60px;
    right: 40px;
  }
}
