
// font
$font-bold: 700;

// z-index
$z-menu: 499;
$z-menu-drop-down: 500;
$z-navDropDown: 500;
$z-overlay: 1000;
$z-select-options: 1500;
$z-toast: 2000;

$gwipp-border-thick: 2px;

$gwipp-btn-action-radius: 23px;

// defaults
$input: () !default;
$nav-bar: () !default;

$nav-bar-default: (
  "height": 60px,
  "shaddow": false,
  "fixed": false,
);

$input-default: (
  "height": 38px,
  "border-radius": 0px,
);
