<gwipp-navigation-bar>
  <gwipp-nav-item>
    <nav-item-detail>
      <ng-template nav-title>Title</ng-template>
    </nav-item-detail>
  </gwipp-nav-item>

  <gwipp-nav-item class="ml-2">
    <nav-item-detail>
      <ng-template nav-item>Item</ng-template>
    </nav-item-detail>
  </gwipp-nav-item>

  <gwipp-nav-menu-item class="ml-2">
    <nav-item-detail>
      <ng-template nav-item>Drop Menu</ng-template>

      <ng-template nav-menu>
        <div class="text-dark">Drop Menu Content</div>
      </ng-template>

    </nav-item-detail>
  </gwipp-nav-menu-item>
</gwipp-navigation-bar>

<div class="d-flex flex-row mt-5 mx-2">
  <div>
    <gwipp-button [buttonConfig]="buttonConfig"></gwipp-button>
  </div>

  <div class="ml-1">
    <gwipp-button [buttonConfig]="actionButton"></gwipp-button>
  </div>

  <div class="ml-2">
    <gwipp-confirm-button [buttonConfig]="confirmConfig"></gwipp-confirm-button>
  </div>

  <div class="ml-2">
    <gwipp-button [buttonConfig]="outlineButton"></gwipp-button>
  </div>

  <div class="ml-2">
    <gwipp-button [buttonConfig]="linkButton"></gwipp-button>
  </div>
</div>

<div class="mt-1 w-25">
  <gwipp-form [formGroup]="formGroup" (formEvent)="onFormEvent($event)" #form>
    <gwipp-text-field [config]="inputConfig" [formControl]="formGroup.controls['name']"></gwipp-text-field>
    <gwipp-password-field class="mt-2" [config]="passwordConfig" [hasStrength]="true"
                          [formControl]="formGroup.controls['password']"></gwipp-password-field>
    <gwipp-switch class="mt-2" [config]="switchConfig" [formControl]="formGroup.controls['agree']"></gwipp-switch>
  </gwipp-form>
</div>

<div class="d-flex flex-row mt-5 mx-2">
  <gwipp-button [buttonConfig]="toastButton" (buttonClick)="toast(toastDetail)"></gwipp-button>
</div>

<ng-template toast-detail #toastDetail>
  <div class="text-dark">
    Toaster detail
  </div>
</ng-template>

<gwipp-toast></gwipp-toast>

<div class="d-flex flex-row mt-5 mx-2">
  <gwipp-button [buttonConfig]="overlayButton" (buttonClick)="overlay(overlayTitle, overlayDetail)"></gwipp-button>
</div>

<gwipp-overlay-view></gwipp-overlay-view>

<ng-template title #overlayTitle>
  <div class="text-primary h4">
    Test Overlay
  </div>
</ng-template>
<ng-template detail #overlayDetail>
  <gwipp-tab-menu [tabItems]="tabItems"></gwipp-tab-menu>
</ng-template>
