<app-nav-bar></app-nav-bar>

<div class="mt-5" (click)="closeNavMenu()">

  <div *ngIf="(portlets$ | async)?.blocks" class="mx-5 mb-5">
    <app-blocks></app-blocks>
  </div>

  <div *ngIf="(portlets$ | async)?.buttons" class="m-5">
    <app-buttons></app-buttons>
  </div>

  <div *ngIf="(portlets$ | async)?.grids" class="m-5">
    <app-basic-grid></app-basic-grid>
  </div>

  <div *ngIf="(portlets$ | async)?.inputs" class="m-5">
    <app-inputs></app-inputs>
  </div>

  <div *ngIf="(portlets$ | async)?.interactive" class="m-5">
    <app-interactive></app-interactive>
  </div>

  <div *ngIf="(portlets$ | async)?.lists" class="m-5">
    <app-list></app-list>
  </div>

  <div *ngIf="(portlets$ | async)?.menus" class="m-5">
    <app-menus></app-menus>
  </div>

  <div *ngIf="(portlets$ | async)?.overlays" class="m-5">
    <app-overlays></app-overlays>
  </div>

  <gwipp-toast></gwipp-toast>
  <gwipp-overlay-view></gwipp-overlay-view>

</div>
